# Ambiente Virtual
pdv-env/

# Ficheiros de compilação do PyInstaller
build/
dist/
*.spec

# Ficheiros de cache do Python
__pycache__/
*.pyc

# Ficheiros de dados gerados
/data/
/config.json
/pdv_database.db

# Ficheiros de sistema
.vscode/
.idea/
